:root,
::before,
::after,
body {
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #dee2e6;
}
main {
    padding-bottom: 4em;
}

.max-width-500 {
    max-width: 500px;
}
